@{
    ViewData["Title"] = "Potwierdzenie";
}

<h2>Dziękujemy za dokonanie rezerwacji!</h2>
<p>Rezerwacja została wysłana i oczekuje na zatwierdzenie.</p>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Powrót do strony głównej</a>
